* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #242424;
  color: whitesmoke;
}

section {
  max-width: 1329px;
  margin: 50px 0;
}

/* common */
.container-fluid {
  padding: 7% 15%;
}

.big-heading {
  align-self: center;
  font-size: 3.5rem;
  line-height: 1.5;
  background: linear-gradient(315deg, #00d0ff, #00d0ff, #4dff03);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.review-wrapper {
  color: #242424;
  width: 346px;
  height: 257px;
}

.center-wrapper {
  width: 100%;
  text-align: center;
}

/* navbar */
.navbar {
  padding: 1% 3%;
  background: #242424;
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 35%), 0 10px 10px -10px rgb(0 0 0 / 35%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: top 0.3s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

#navbar-logo {
  height: 60px;
  padding-left: 30px;
  color: #03a9f4;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
}

.navbar-item select {
  background-color: inherit;
  border-radius: 14px;
  margin: auto;
}

.navbar-item select option {
  color: #242424;
}

.navbar-links {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar-links:hover {
  text-decoration: none;
  transform: translateY(-1px);
  color: #03a9f4;
  transition: all 0.3s ease;
}

.bar {
  background-color: white;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #242424;
  }

  .navbar-menu.active {
    background: #2424242;
    top: 100%;
    opacity: 1;
    transition: all 0.5 as ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-item select {
    width: 100%;
    text-align: center;
    padding: 0rem;
    width: 200px;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-btn {
    padding: 2rem;
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* navbar end */
/* title */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 85vh;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  padding: 0 80px;
}

.main-content h1 {
  font-size: 50px;
  background: linear-gradient(315deg, #00d0ff, #00d0ff, #4dff03);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  min-width: 399px;
}

.main-content:nth-child(2) h1 {
  font-size: 75px;
}

.main-btn {
  font-size: 1rem;
  background-image: linear-gradient(to right, #45B649 0%, #DCE35B 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: black;
  text-decoration: none;
}

.main-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #DCE35B 0%, #45B649 100%);
  transition: all 0.35s;
  border-radius: 100px;
}

.main-btn:hover {
  color: black;
}

.main-btn:hover:after {
  width: 100%;
}

.neon-switch {
  margin-top: 30px;
  position: relative;
  width: 200px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.neon-switch:checked {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff,0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.neon-switch::before {
  color: grey;
  padding: 7px;
  content: "Animate";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 40px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s
}

.html.neon-switch::before {
  content: "HTML";
}

.css.neon-switch::before {
  content: "CSS";
}

.javascript.neon-switch::before {
  content: "Javascript";
}

.sql.neon-switch::before {
  content: "mySQL";
}

.python.neon-switch::before {
  content: "Python";
}

.java.neon-switch::before {
  content: "Java";
}

.neon-switch[name=feedback-button]::before {
  content: "Select"
}

.neon-switch[type=checkbox]:checked::before {
  color: #63cdff;
  left: 110px;
}

.neon-switch[type=radio]:checked::before {
  color: #63cdff;
  left: 60px;
}

.review-wrapper .neon-switch[type=radio]:checked::before {
  color: #63cdff;
  left: 110px;
}

.javascript.neon-switch[type=radio]:checked::before {
  color: #63cdff;
  left: 60px;
}

.neon-switch::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 70px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}

.neon-switch:checked::after {
  left: 180px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

.review-wrapper .neon-switch[type=radio]:checked::after {
  left: 180px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

.neon-switch[type=radio]:checked::after {
  left: 130px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

.main__img--container {
  text-align: center;
}

#main-img {
  height: 80%;
  width: 100%;
}

.main-content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: whitesmoke;
}

/* title end */
/* about */
#about {
  text-align: center;
  position: relative;
}

/* animating background gradient */
/* #about::before {
  font-size: 1rem;
  background-image: linear-gradient(45deg, #03a9f4 0%, #ff0058 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

#about::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(45deg, #03a9f4 0%, #ff0058 100%);
  opacity: 0.4;
  transition: all 0.35s;
  border-radius: 100px;
  filter: blur(30px);
}

#about:hover:after {
  width: 100%;
  z-index: -1;
} */
@media screen and (max-width: 960px) {
  #about .main {
    padding: 100px 0;
    text-align: center;
  }

  .main-container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 120vh;
  }

  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .main-content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main-btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* title carousel */
#carousal {
  position: relative;
  width: 500px;
  height: 235px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 20px;
}

.list-carousal {
  margin: 0;
  list-style: none;
  width: 500px;
  height: 500px;
  float: left;
  padding: 0;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(500px * 5);
  height: 500px;
  animation: toLeft 20s ease-out infinite alternate;
  margin: 0;
  padding: 0;
}

@keyframes toLeft {
  0%, 15% {
    margin-left: 0;
    opacity: 2;
  }

  20%, 35% {
    margin-left: -500px;
    opacity: 1;
  }

  40%, 55% {
    margin-left: -1000px;
    opacity: 1;
  }

  60%, 75% {
    margin-left: -1500px;
    opacity: 1;
  }

  80%, 100% {
    margin-left: -2000px;
    opacity: 1;
  }
}

/* title carousel end */
/* features and skills Section */
#features {
  text-align: center;
  position: relative;
}

/* animating gradient background */
/* #features::before {
  font-size: 1rem;
  background-image: linear-gradient(45deg, #ffbc00 0%, #ff0058 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

#features::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(45deg, #ffbc00 0%, #ff0058 100%);
  opacity: 0.4;
  transition: all 0.35s;
  border-radius: 100px;
  filter: blur(30px);
}

#features:hover:after {
  width: 100%;
  z-index: -1;
} */

#skills {
  text-align: center;
  position: relative;
}

#skill .row {
  width: 95%;
  margin: auto;
}

.skill-description-image {
  width: 470px;
  height: 400px;
}

.skill-description-content {
  margin-top: 30px;
  padding: 0 13%;
}

.skill-wrapper {
  width: 535px;
  padding-top: 30px;
  margin: auto;
}

.skill-wrapper .icon {
  float: left;
  display: block;
}

.skill-box-button {
  text-align: center;
  margin: 100px 0;
}

.description-btn {
  width: 150px;
  padding: 20px 0;
  margin: 20px 0;
}

.skill table {
  margin: 15px 0;
}

/* animating gradient background */
/* #skills::before {
  font-size: 1rem;
  background-image: linear-gradient(315deg, #4dff03 0%, #00d0ff 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

#skills::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(315deg, #4dff03 0%, #00d0ff 100%);
  opacity: 0.4;
  transition: all 0.35s;
  border-radius: 100px;
  filter: blur(30px);
}

#skills:hover:after {
  width: 100%;
  z-index: -1;
} */
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
  line-height: 1.5rem;
}

.icon {
  color: #03a9f4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00d0ff;
  transition: all 0.2s ease-in;
  transform: translateY(-10px);
}

/* reviews */
#testimonials {
  padding: 80px 0;
  background-color: inherit;
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  min-height: 200px;
}

.quick-view.review .big-heading {
  margin: 0 15px 8px;
}

.review-select {
  border-radius: 10px;
  height: 30px;
  width: calc(100% - 136px);
  text-align: center;
}

.quick-view.review .container-fluid {
  padding: 7% 0;
}

.quick-view.review .big-heading {
  min-width: 382px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* add review */
.inline {
  display: inline;
}

.block {
  display: block;
}

.review-input {
  padding-bottom: 1rem;
}

.review-adjust {
  padding: 4rem 16rem;
}

.jsReview {
  width: 100%;
}

.review-text-adjust:nth-child(1) {
  width: calc(100% - 92px);
}

.review-text-adjust:nth-child(2) {
  width: calc(100% - 93px);
}

@media screen and (max-width: 746px) {
  .review-adjust {
    padding: 0;
  }
}

/* pricing */

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: inherit;
}

.price-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.card-deck .price-card {
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.card-deck .price-card:hover {
  transform: translateY(-20px);
}

.card-deck .price-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.card-deck .price-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.card-deck .price-card:nth-child(2):before, .card-deck .price-card:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.card-deck .price-card:nth-child(3):before, .card-deck .price-card:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.card-deck .price-card span {
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card-deck .price-card span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.card-deck .price-card .card-content {
  position: relative;
  z-index: 3;
  padding: 10px 30px;
}

.card-deck .price-card .card-content h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px
}

.card-deck .price-card .card-content p {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4rem;
}

.card-deck .price-card .btn {
  color: whitesmoke;
  width: 65%;
}

.card-deck .price-card .btn.starters {
  background-image: linear-gradient(45deg, #ffbc00, #ff0058);
}

.card-deck .price-card .btn.advanced {
  background-image: linear-gradient(315deg, #03a9f4, #ff0058);
}

.card-deck .price-card .btn.pro {
  background-image: linear-gradient(315deg, #4dff03, #00d0ff);
}

@media screen and (max-width: 960px){
  .big-heading {
    font-size: 3rem;
  }
}

/* quick view */
.greyout {
  position: fixed;
  height: 10000px;
  width: 10000px;
  opacity: 0.5;
  background-color: grey;
  z-index: 1000;
}

.quick-view {
  border-radius: 20px;
  position: fixed;
  left: 13%;
  top: 6.4%;
  width: 73.2%;
  height: 88%;
  background-color: whitesmoke;
  z-index: 1000;
}

.quick-view-content {
  color: #000;
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toggle-quick-view {
  color: #fff;
  background-color: #1e55ec;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  position: absolute;
  top: calc(100% - 55px);
  left: calc(100% - 125px);
  width: 100px;
  font-size: 1rem;
  cursor: pointer;
}

.purchase-button {
  font-weight: 400;
  background-color: #fff;
  background-image: linear-gradient(315deg, #ffbc00, #ff0058);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  width: 200px;
}

.purchase-button:hover {
  border-width: 0;
  color: #fff;
  -webkit-background-clip: revert;
  -moz-background-clip: revert;
  -webkit-text-fill-color: revert;
  -moz-text-fill-color: revert;
  border-radius: 10px;
}

.gradient-wrapper {
  position: absolute;
  right: 150px;
  bottom: 10px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top right, #ffbc00, #ff0058);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 205px;
  border-radius: 14px;
}

/* footer */
.footer-container {
  background-color: inherit;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  color: whitesmoke;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

#footer-logo:hover {
  transform: translateY(-10px);
  color: #03a9f4;
  transition: all 0.2s ease-in;
}

.social__icon--link {
  color: white;
  font-size: 24px;
}

.social__icon--link:hover {
  color: #03a9f4;
  transform: translateY(-10px);
  transition: 0.2s all ease-in;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: whitesmoke;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: whitesmoke;
}

@media screen and (max-width: 820px) {
  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}
