/*body{

  background-color: turquoise;
}*/

hr{
  border-color: whitesmoke;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

p{
  color:turquoise;
}

h1{
  color:turquoise;
}

h3{
  color:turquoise;
}

table{
  color:turquoise;
}

li{
  color:turquoise;
}
